---
layout: default
title: Home
permalink: /
---

{% include carousel.html %}

<section id="marketing_00" class="py-4 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-8 col-md-8 mx-auto">
      <h1 class="fw-light">Welcome to the world of tomorrow!</h1>
      <p class="lead text-muted">Whether you are an experienced spatial analyst looking to expand the horizons of your next project, or you are instead taking your first steps into the world of mapping, eLucidata partners with you, guiding you to the most effective paths to optimize your data.
      </p>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </div>
</section>

{% include about.html %}

<section id="marketing_01" class="parallax">
  <div class="py-4 text-center container">
    <div class="row py-lg-5">
      <div class="message col-lg-8 col-md-8 mx-auto">
        <p class="fw-light fs-1">Truth is out there</p>
        <p class="lead">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.
        </p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </div>
  <small class="text-light lh-lg p-2">Photo by <a href="https://unsplash.com/@rodolfobarreto?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Rodolfo Barreto</a> on <a
      href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></small>
</section>

{% include services.html %}

{% include portfolio.html %}

<section id="marketing_02" class="parallax">
  <div class="py-4 text-center container">
    <div class="row py-lg-5">
      <div class="message col-lg-8 col-md-8 mx-auto">
        <p class="fw-light fs-1">Has your data led you here?<br />Welcome to the World of Tomorrow!</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </div>
  <small class="text-light lh-lg p-2">Photo by <a href="https://unsplash.com/@rsexposures?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Robin Slater</a> on <a
      href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></small>
</section>
