<section id="about" class="clear">
  <div class="container py-5">
    <h2 class="display-4">About</h2>
    <p class="lead">Coming from both an engineering and scientific background with shared experience in mapping, we at eLucidata help you clear the technical hurdles often encountered while investigating data. We work with our clients so they may
      develop the skills required to apply the data solutions we create together. For projects that call for more advanced analysis or visualizations, we can elevate the interpretability of your data far beyond the basics.</p>

    <div class="row pt-5">
      <div class="col-lg-4">
        <img src="img/Doffy.jpg" class="bd-placeholder-img rounded-circle" width="250" height="250" />

        <h3>Doffy the Boss</h3>
        <p>Doffy is, we believe, a domestic shorthair feline best described as a Russian Blue version of Grumpy Cat. However, we have some reason to doubt this identification (not the grumpy part, that part we're pretty confident in) as "feline" and highly suspect that she may not be of this earth. Her primary mission on this planet is the protection and prompt daily emptying of her, and her feline-brother's, food bowls.</p>
        <p class="text-start">
          <a href="#"><i class="fas icon fa-cat fa-fw"></i></a>
          <a href="#"><i class="fas icon fa-paw fa-fw"></i></a>
          <a href="#" <i class="fas icon fa-fish fa-fw fa-spin"></i></a>
        </p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <img src="img/Bran.jpg" class="bd-placeholder-img rounded-circle" width="250" height="250" />

        <h3>Bran Black</h3>
        <p>Bran has a geologic, oceanic, and environmental sciences background, the common thread being the application of remotely sensed imagery at hard-to-map sites. Beyond academic research, her mapping and teaching experience centers on helping scientists and students, particularly those unfamiliar with the mapping process, to collect and analyze their data.</p>
        <p class="text-start">
          <a href="#"><i class="fab icon fa-linkedin fa-fw"></i></a>
        </p>
      </div><!-- /.col-lg-4 -->


      <div class="col-lg-4">
        <img src="img/PB.jpg" class="bd-placeholder-img rounded-circle" width="250" height="250" />

        <h3>PB Echevarría</h3>
        <p>PB's experience ranges from automated engineering to coding, from mapping to analysis tool building, from data visualization to story telling. His deep roots in the open source mapping community support our fundamental drive to make mapping and spatial analysis as practical and practicable as possible for people who are newly emerging on the mapping scene.</p>
        <p class="text-start">
          <a href="#"><i class="fab icon fa-linkedin fa-fw"></i></a>
        </p>
      </div><!-- /.col-lg-4 -->
      <p class="text-end clear"><a href="#">Back to top</a></p>

    </div><!-- /.row -->
  </div>
</section>
