<div id="carousel" class="carousel slide" data-bs-ride="carousel">

  <ol class="carousel-indicators">
    <li data-bs-target="#carousel" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carousel" data-bs-slide-to="1"></li>
    <li data-bs-target="#carousel" data-bs-slide-to="2"></li>
    <li data-bs-target="#carousel" data-bs-slide-to="3"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item fill active" style="background-image:url('img/slide_00.jpg')">
      <div class="container">
        <div class="message col-lg-6 col-md-6 mx-auto position-absolute top-50 start-left translate-middle-y px-3">
          <h2 class="display-5"><span class="collapse lang es">¿Atascado en datos turbios? Nosotros le ayudamos a ponerse en marcha.</span><span class="show lang en">Bogged down in muddy data? We'll help you get your wheels turning.</span></h2>
          <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
          <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
      </div>
      <small class="attribution text-light lh-lg p-2">Photo by <a href="https://unsplash.com/@alessandracaretto?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Alessandra Caretto</a> on <a
          href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></small>
    </div>

    <div class="carousel-item fill" style="background-image:url('img/slide_02.jpg')">
      <div class="container">
      </div>
      <small class="attribution text-light lh-lg p-2">Photo by <a href="https://unsplash.com/@schul1ja?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">James
          Schultz</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></small>
    </div>

    <div class="carousel-item fill" style="background-image:url('img/slide_03.jpg')">
      <div class="container">
        <div class="message col-md-8 offset-md-2 text-center position-absolute top-50 start-0 translate-middle-y px-3">
          <h2 class="display-5">From the makers of mapbrick.com<br />"Just another brick in the World"<h2>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
      </div>
      <small class="attribution text-light lh-lg p-2">Photo by <a href="https://unsplash.com/@tiffanylnutt?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Tiffany Nutt</a> on <a
          href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></small>
    </div>
    <div class="carousel-item fill" style="background-image:url('img/slide_04.jpg')">
      <div class="container">
        <div class="message col-md-8 offset-md-2 text-end position-absolute top-50 start-0 translate-middle-y px-3">
          <h2 class="display-5">Ride along with us. Together we'll see how far we take your data.</h2>
          <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
          <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
      </div>
      <small class="attribution text-light lh-lg p-2">Photo by <a href="https://unsplash.com/@nikoline_nik?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Nikoline Arns</a> on <a
          href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></small>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carousel" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
