<div id="carousel" class="carousel slide" data-bs-ride="carousel">

  <ol class="carousel-indicators">
    {% for s in site.data.carousel %}
    <li data-bs-target="#carousel" data-bs-slide-to="{{ forloop.index0 }}" {% if forloop.first %} class="active" {% endif %}></li>
    {% endfor %}
  </ol>

  <div class="carousel-inner">

    {% for slide in site.data.carousel %}
    <div class="carousel-item fill {% if forloop.first %}active{% endif %}" style="background-image:url('img/{{slide.img}}')">
      <div class="container">
        <div class="message col-lg-6 col-md-6 mx-auto position-absolute top-50 start-left translate-middle-y px-3">
          <h2 class="display-5">{% include translate.html t = slide.title %}</h2>
          <p class="lead my-3"><a href="#" class="text-white fw-bold">{% include translate.html t = slide.cta %}</a></p>
        </div>
      </div>
      {% include attribution.html i = slide.img %}
    </div>
    {% endfor %}
    
  </div>

  <a class="carousel-control-prev" href="#carousel" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
