<section id="services" class="pt-5">

  <div class="container">
    <h2 class="display-4">Services</h2>
    <p class="lead">{% include translate.html t = site.data.texts.Services %}</p>

    <div class="row slider py-5 text-center">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body p-5">
            <i class="icon fas fa-archive"></i>
            <h3 class="card-title">Data Revival</h3>
            <p class="card-text lead">Dust off that old data &middot; Fix those sneaky errors &middot; Restructure and update.
            </p>
          </div>
        </div>
      </div><!-- /.col-lg-4 -->

      <div class="col-md-4">
        <div class="card">
          <div class="card-body p-5">
            <i class="icon fas fa-map-signs"></i>
            <h3 class="card-title">Field Assessment</h3>
            <p class="card-text lead">Sample design guidance &middot; Data collection prep &middot; Data storage and sharing.
            </p>
          </div>
        </div>
      </div><!-- /.col-lg-4 -->

      <div class="col-md-4">
        <div class="card">
          <div class="card-body p-5">
            <i class="icon far fa-chart-bar"></i>
            <h3 class="card-title">Stats and Analysis</h3>
            <p class="card-text lead">Status assessment &middot; Putting your data through its paces &middot; Plotting highlights of analysis.
            </p>
          </div>
        </div>
      </div><!-- /.col-lg-4 -->

      <div class="col-md-4">
        <div class="card">
          <div class="card-body p-5">
            <i class="icon fas fa-map-marked-alt"></i>
            <h3 class="card-title">Geovisualization</h3>
            <p class="card-text lead">Maps maps maps! &middot; Expressing your data in the spatial realm &middot; Pretty pictures and models.
            </p>
          </div>
        </div>
      </div><!-- /.col-lg-4 -->
    </div>
  </div>
</section>
