html,
body,
main,
#carousel,
#carousel .carousel-inner,
#carousel .carousel-item {
  height: 100%;
  width: 100%;
}

.carousel {
  margin-bottom: 1rem;
}

.fill {
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.navbar {
  background: url(img/bg_pattern.png) repeat !important;
  background-color: rgba(16, 16, 32, 0.5) !important;
}

.fill::after,
.parallax::before {
  content: "";
  background: url(img/bg_pattern.png) repeat;
  /* background-color: rgba(16, 16, 32, 0.25) !important; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

#es-en {
  position: fixed;
  top: 2.5rem;
  right: 1%;
  z-index: 500;
}

#carousel .attribution {
  position: absolute;
  bottom: 0;
  z-index: 50;
}

/* rtl:end:ignore */
.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

#about {
  width: 100%;
  background: #f5f1ec;
}

.attribution,
.message {
  color: #FFF;
  text-shadow: .2rem .2rem .3rem rgba(16, 16, 32, 0.75);
  z-index: 50 !important;
}

#marketing_01 {
  background-image: url(img/parallax_00.jpg);
  position: relative;
}

#marketing_02 {
  background-image: url(img/parallax_02.jpg);
  color: #FFF !important;
}

.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax small {
  position: relative;
}

#about .icon {
  font-size: 2rem;
  /* margin-bottom: 2rem; */
  color: #AAA;
  /* font-weight: 250; */
  text-decoration: none;
}

#services .icon {
  font-size: 2.5rem;
  /* margin-bottom: 2rem; */
  color: #AAA;
}

#services .card {
  min-height: 25rem;
}

#services .card-title,
#about h3 {
  font-size: 2rem;
}

#services .icon,
#services .card-title,
#about h3,
footer h3 {
  font-weight: 300;
  line-height: 5rem;
}

.lang.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}
